body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.canvas {
  display: block;
}

.hint {
  position: absolute;
  z-index: 99;
  background-color: ghostwhite;

  width: fit-content;
  padding: 16px;
  right: 0;
  margin: 16px;
  border-radius: 8px;
}
